* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3F7FA;
}

.df {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.main {
  width: 1024px;
  padding: 160px 100px 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  top: 80px;
  transform: translate(-50%, -50%);
}